@mixin telefono{
    @media (min-width: $telefono) {
        // para que acepte bloques de contenido
        @content;
    }
}
@mixin tablet{
    @media (min-width: $tablet) {
        // para que acepte bloques de contenido
        @content;
    }
}
@mixin desktop{
    @media (min-width: $desktop) {
        // para que acepte bloques de contenido
        @content;
    }
}

@mixin grid($columnas, $espaciado){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}